Source: pstar
Section: web
Priority: optional
Maintainer: Atle Solbakken <atle@goliathdns.no>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libmysqlclient-dev, libmimetic-dev, libboost-regex-dev, apache2-threaded-dev | apache2-dev, pkg-config, libapr-memcache-dev, chrpath, automake, libtool, autoconf
Standards-Version: 3.9.5
Homepage: http://www.p-star.org
Vcs-Git: git://github.com/P-star/P-star.git

Package: libpstar-mysql1
Architecture: any
Recommends: pstar
Replaces: libpstar
Depends: ${shlibs:Depends}, ${misc:Depends}, mysql-client-5.5 | mysql-client (>= 5.7.21-1debian9)
Description: P* Web Programming Language Interpreter MySQL
 plugin. This package is a wrapper library which uses the 
 native C API from MySQL.

Package: libpstar1
Architecture: any
Recommends: pstar
Replaces: libpstar
Suggests: libapache2-mod-pstar
Depends: ${shlibs:Depends}, ${misc:Depends}, mysql-client-5.5 | mysql-client (>= 5.7.21-1debian9), libmimetic0 | libmimetic0v5, libboost-regex1.49.0 | libboost-regex1.62.0, libpstar-mysql1 (= ${binary:Version})
Description: P* Web Programming Language Interpreter Library
 P* is a progamming language which targets to incorporate common 
 tasks like HTML templates, SQL prepared statements and JSON output
 into the language.

#Package: libpstar-dev
#Architecture: all
#Conflicts: p-star
#Depends: libpstar (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends} 
#Description: P* Web Programming Language Interpreter Command
# This is the development header files needed to compile new P* modules.

Package: pstar
Architecture: any
Depends: libpstar1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends} 
Description: P* Web Programming Language Interpreter Command
 This is the command line version of the P* Web
 Programming Language interpreter.

Package: libapache2-mod-pstar
Section: httpd
Architecture: any
Depends: libpstar1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, apache2 (>= 2.4.4), apache2-api-20120211
Description: Apache module for the P* Web Programming
 Language mod_pstar provides support for P* scripts
 in the Apache web server.
  The performance of this Apache module is better than just
  using CGI, as the module has the ability to cache parsed
  scripts in memory for fast execution.
