#!/usr/bin/make -f
#export DH_VERBOSE=1

#CXXFLAGS=	$(shell dpkg-buildflags --get CXXFLAGS)
#CPPFLAGS=	$(shell dpkg-buildflags --get CPPFLAGS)
#LDFLAGS=	$(shell dpkg-buildflags --get LDFLAGS)

#CXXFLAGS+=	-Wall -W

#ifneq (,$(filter werror,$(DEB_BUILD_OPTIONS)))
#CXXFLAGS+=	-Werror
#endif
#ifneq (,$(filter hardening,$(DEB_BUILD_OPTIONS)))
#export DEB_BUILD_HARDENING=1
#else
#export DEB_BUILD_HARDENING=0
#endif

#export CXXFLAGS CPPFLAGS LDFLAGS

%:
	dh $@

override_dh_auto_install:
	cp src/apache2/pstar.load \
		debian/libapache2-mod-pstar/etc/apache2/mods-available/
	APXS_DH_CONTEXT=1 dh_auto_install
	./fix_dependency_libs.sh

