RewriteEngine On
RewriteRule quickstart quickstart.pstar [L]
RewriteRule download download.pstar [L]
RewriteRule how_to_run how_to_run.pstar [L]
RewriteRule home home.pstar [L]
RewriteRule why_pstar why_pstar.pstar [L]
RewriteRule code_snippets code_snippets.pstar [L]
RewriteRule documentation documentation.pstar [L]
RewriteRule ^$ /home [R]

