RewriteEngine On
RewriteRule documentation documentation.pstar [L]
RewriteRule how_to_get how_to_get.pstar [L]
RewriteRule how_to_run how_to_run.pstar [L]
RewriteRule what_is what_is.pstar [L]
RewriteRule ^$ /what_is [R]

